// custom overrides
$img-border-radius: 35px;

// Then include the following
// @import 'bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";

// color variables
$yellow: #ffde03;
$rosa: #ff0266;
$grey: #2c3e50;
$light-grey: #EEF2F7;
$black: #000;
$white: #fff;

// custom overrides
$primary: $yellow;
$secondary: $rosa;
$body-color: $black;
$dark: $black;
$h1-font-size: 3.5rem;
$box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

// spacing variables
$paragraph-spacing: 1rem;
$section-spacing: 2rem;
$article-spacing: 4rem;

article,
.article {
  margin-top: $article-spacing;
};

section,
.section {
  margin-top: $section-spacing;
};

.paragraph {
  margin-top: $paragraph-spacing;
}

.small-font-size {
  font-size: $small-font-size;
}
