// custom overrides
$img-border-radius: 35px;

// Then include the following
// @import 'bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";

// color variables
$rosa: #ff0266;
$pink:#cc5490;
$light-grey: #EEF2F7;
$black: #000;
$white: #fff;

// custom overrides
$primary: $rosa;
$secondary: $pink;
$body-color: $black;
$h1-font-size: 3.5rem;

// spacing variables
$paragraph-spacing: 1rem;
$section-spacing: 2rem;
$article-spacing: 4rem;

article,
.article {
  margin-top: $article-spacing;
};

section,
.section {
  margin-top: $section-spacing;
};

.paragraph {
  margin-top: $paragraph-spacing;
}

.small-font-size {
  font-size: $small-font-size;
}
